#all {
    height: 100vh;
    overflow: hidden;
}

.Wrap_Nav {
    height: 65px;
    border-bottom: thin solid var(--color-title-nav);
    display: flex;
    justify-content: start;
    position: relative;
    align-items: center;
    padding: 0 32px;
}

.nav-title {
    font-size: 22px;
    padding: 10px 0;
    text-align: center;
    margin: 0;
    color: var(--color-title-nav);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
}


#all-main {
    width: 100%;
    min-height: calc(100vh - 65px);
    max-height: calc(100vh - 65px);
    padding: 16px;
    background-color: var(--color-vamx);
    overflow: hidden;
    overflow-y: scroll;
}

#all-main::-webkit-scrollbar {
    width: 0px;
    background-color: white;
}

#all-ce_wrap>.main-wrap>div::-webkit-scrollbar {
    width: 0px;
    background-color: white;
}

#all-main::-webkit-scrollbar-thumb {
    width: 0px;
    background-color: var(--color-vamm);
    border-radius: 5px;
}

#all-ce_wrap>.main-wrap>div::-webkit-scrollbar-thumb {
    width: 0px;
    background-color: var(--color-vamm);
    border-radius: 5px;
}

#all-cs-ce-ts {
    width: 100%;
    display: flex;
    height: max-content;
    gap: 12px;
}

#all-cs-ce-ts_left {
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#all-cs-ce-ts_right {
    display: flex;
    flex-direction: column;
    flex-grow: .5;
    width: 35%;
}

#all-cs_wrap {
    display: flex;
    gap: 10px;
    width: 100%;
}

.box_wrap {
    flex: 1;
    padding: 12px;
    background-color: white;
    border-radius: 5px;
    transition: all .3s linear;
}

.box_wrap:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box_wrap>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100%;
}

#all-cs_wrap .text>h1 {
    font-size: 24px;
    font-weight: 700;
    color: black;
    margin: 0;
}

#all-cs_wrap .text>p {
    font-size: 16px;
    color: var(--color-title-nav);
    font-weight: 600;
}

#all-cs_wrap .icon {
    height: 100%;
    display: flex;
    align-items: center;
}

#all-cs_wrap .icon>i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #e7eefa;
    color: var(--color-vamm);
}

#all-ts_wrap>.main-wrap {
    background-color: white;
    border-radius: 5px;
    padding: 12px;
    width: 100%;
    overflow: hidden;
    transition: all .3s linear;
}

#all-ts_wrap>.main-wrap>h1 {
    font-size: 24px;
    font-weight: 700;
    color: black;
}

#all-ts_wrap>.main-wrap:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#myChart {
    width: 100%;
    height: 400px !important;
}

#all-ce_wrap {
    height: 100%;
    width: 100%;
}

#all-ce_wrap>.main-wrap {
    height: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 12px;
    width: 100%;
    overflow: hidden;
    transition: all .3s linear;

}

#all-ce_wrap>.main-wrap:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#all-ce_wrap h1 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddedf;
}

#all-ce_wrap h4 {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-title-nav);
    margin: 0;
}

#all-ce_wrap .celender-wrap {
    padding: 10px;
    background: #eff0f4;
    margin: 10px 10px;
    border-radius: 5px;
}

#all-ce_wrap>.main-wrap>div {
    overflow: hidden;
    overflow-y: scroll;
}

.fa-solid {
    display: flex !important;
    align-items: center !important;
}